body {
    font-family: sans-serif;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .gender,
  .languages {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
  }
  